<ion-view title="About Us" id="page4" style="background-color:#232B38;">
  <ion-content padding="true" class="has-header">
    <div class="col-md-5 col-sm-7 res-text-center">
      <h5 class="uppercase bold pt8 res-text-center" style="color:#fff; text-align:justify; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 18px">Welcome to Pixzel Digital</h5>
      <p style="color:#fff; text-align:justify; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif; padding-top:25px">At Pixzel Digital, we see everything we make as an opportunity to forge a meaningful connection with an audience. It’s not just about making things look good, it’s about making them useful. Our creative and web services are structured to get the
        most return on your investment.</p>
      <p style="color:#fff; text-align:justify; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;">Previously Zacheo Creative back in 2006, the agency was founded and renamed in the late 2016 by Roy Aldwin Dumaguin, a professional Creative, Web, UX and Digital Marketing expert with more than 12 years of experience. He was the Creative Director
        at a multi-awarded agency in Singapore prior to starting Pixzel Digital.</p>
      <p style="color:#fff; text-align:justify; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;">The agency specialises in creative strategy, web design and development, web and mobile application development, branding, and digital marketing strategy.</p>
    </div>
    <div class="col-md-5 col-sm-6" style="padding: 25px 0 25px 0">
      <p class="lead" style="color:#fff; text-align:justify; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;">For enquiries and request for quotation, contact us by any of the channels below. We'll respond ASAP!</p>
      <h5 class="mb8" style="color:#fff; text-align:justify; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;">P: +63 906 382 8690</h5>
      <h5 class="mb8" style="color:#fff; text-align:justify; font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;">E: pixzeldigital@gmail.com</h5>
      <div class="mt24">
        <div class="fb-like text-transform-capitalize font-500 c-white" data-href="https://www.facebook.com/pixzeldigital" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true">

        </div>
      </div>
    </div>
  </ion-content>
</ion-view>