<ion-view title="Home" id="page2" style="background-color:#292B38;">
  <ion-content padding="true" class="has-header">
    <div class="header" style="padding:25px;">
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/8wpEhu5bQmuJW714RUKT_wearepixzel.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <p style="text-align:justify; color:#fff; font-family: Raleway, Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 18px;">
      A digital agency specialising in creative strategy, web design and development, web and mobile app development, branding, and digital marketing strategy.
    </p>
  </ion-content>
</ion-view>